@model List<ProductViewModel>

<body>
    <div class="row">


        @if (Model.Any())
        {


            @foreach (var p in Model)
            {

                <div class="col-5 my-5">
                    <div class="row book__card">
                        <div class="col-6">
                            
                            @if (!string.IsNullOrWhiteSpace(p.ImagePath))
                            {
                                <img style="width: 100%; height:100%" src="~/Images/Products/@p.ImagePath" />
                            }
                            else
                            {
                                <img style="width: 100%; height:100%" src="~/Images/NoImage.jpeg" />
                            }
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <div class="book__detail">
                                <span class="fos gray fs-5">@p.CategoryName</span><br />
                                <span class="fs-4 fw-bold">@p.Name</span><br />

                                <span class="book__star-rate ">
                                    @p.UnitInStock
                                    ürün kaldı
                                </span>
                            </div>
                            <p class="book__description fos gray">
                                @p.Description
                            </p>
                            <div>
                                <span class="fs-6 fw-bold old__price">@(p.UnitPrice * 1.1m) ₺</span>
                                <span class="black fw-bold fs-4 me-2">@p.UnitPrice ₺</span>
                            </div>
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@p.Id" class="btn__purple text-decoration-none text-center ">İncele</a>
                        </div>
                    </div>
                </div>


            }
        }
        else
        {
            <div class="alert alert-danger fw-bold mt-5">

                Bu kategoride ürün yok!

            </div>
        }



    </div>





</body>